.pin-title {
    font-size: 1em;
    color: #a6e22e;
    }
.pin-tag {
    color: #f92672;
    font-size:0.9em;
    }
.pinboard-tags {
        margin: 0 auto;
        max-width: 360px;
        padding-bottom: 30px;
        }
.pinboard-tags > a {
  box-shadow: none !important;
  font-family: Helvetica Neue,sans-serif;
  text-decoration: none;
  }